
graft ./src/machineconfig/settings/*
graft ./src/machineconfig/jobs/*
graft ./src/machineconfig/profile/*
graft ./src/machineconfig/scripts/*
graft ./src/machineconfig/setup_linux
graft ./src/machineconfig/setup_windows
