
// monitor layout

layout {

    pane size=1 borderless=false {
        plugin location="zellij:compact-bar"
    }


    pane command="pwd" name="TILED PANES"
    pane split_direction="vertical" {
        pane command="exa" {
          args "--color" "always" "-la" "."
        }
        pane command="htop"
    }


    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }

}


