
layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
}
    tab name="📂" focus=false {
        pane name="lfpane" {
        command "lf"
        }
}
    tab name="🔍" focus=false { // the default_tab_template with three vertical panes between the plugins
        pane name="tpane" {
        }
}

    tab name="🖥️" focus=true // the default_tab_template
}
