
layout {
    default_tab_template {
        // show compact status bar and leave room for panes
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="📂" focus=false {
        pane name="lfpane" {
            command "lf"
        }
    }

    tab name="🔍" focus=false {
        pane name="tpane"
    }

    tab name="🖥️" focus=true template="default_tab_template" {
        pane name="shell"
    }

    swap_tiled_layout name="vertical" {
        tab name="🖥️" template="default_tab_template" {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab name="🖥️" template="default_tab_template" {
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab name="🖥️" template="default_tab_template" {
            pane split_direction="vertical" {
                pane
                pane
                pane
            }
        }
    }
}
