
layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="🧑‍💻" {
        pane
    }

    tab name="💻" split_direction="horizontal" focus=true {

        pane name="2Right" split_direction="vertical" size="35%" {
            pane name="topLeft" size="70%" {
                command "htop"
            }
            pane name="topRight" size="30%" {
                command "btm"
            }
        }

        pane name="2Left" split_direction="vertical" size="65%" {
            pane name="bottomLeft" size="30%" {
                focus true
            }
            pane name="bottomMiddle" size="70%" {
                pane name="bottomMiddleLeft" size="50%" {
                    command "lf"
                }
                pane name="bottomMiddleRight" size="50%" {
                    command "timeout 3s aafire"
                }
            }

        }
}

    tab name="🖥️" {

        pane
    }

}
