
layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="🧑‍💻" {
        pane
    }

    tab name="💻" split_direction="horizontal" focus=true {

        pane name="2Right" split_direction="vertical" size="35%" {
            pane name="topLeft" size="70%" {
                command "htop"
            }
            pane name="topRight" size="30%" {
                command "btm"
            }
        }

        pane name="2Left" split_direction="vertical" size="65%" {
            pane name="bottomLeft" size="30%" {

                pane name="bottomleft1" size="40%" {
                    focus true
                }            
                
                pane name="bottomleft2" size="60%" {
                    command "timeout"
                    args "3s" "aafire" "-driver" "slang"
                    close_on_exit true
                }
                
            }
            pane name="bottomMiddle" size="70%" {
                pane name="bottomMiddle1" size="30%" {
                    command "lf"
                }
            pane name="bottomMiddle2" size="70%" {
                    command "timeout"
                    args "3s" "cmatrix"
                    close_on_exit true
                }
            }

        }
}

    tab name="🖥️" {

        pane
    }

}
