#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=mail-sah
MimeType=x-scheme-handler/mailto
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Profile 1' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '%U'
Icon=brave-faolnafnngnfdaknnbpnkhgohbobgegn-Profile_1
NoDisplay=true
StartupWMClass=crx_faolnafnngnfdaknnbpnkhgohbobgegn
Actions=New-event;New-message;Open-calendar

X-Flatpak-Part-Of=com.brave.Browser
TryExec=/var/lib/flatpak/exports/bin/com.brave.Browser

[Desktop Action New-event]
Name=New event
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Profile 1' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar/deeplink/compose'

[Desktop Action New-message]
Name=New message
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Profile 1' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/mail/deeplink/compose'

[Desktop Action Open-calendar]
Name=Open calendar
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Profile 1' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar'
