#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Teams
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Profile 1' '--app-id=cifhbcnohmdccbgoicgdjpfamggdegmo'
Icon=brave-cifhbcnohmdccbgoicgdjpfamggdegmo-Profile_1
NoDisplay=true
StartupWMClass=crx_cifhbcnohmdccbgoicgdjpfamggdegmo
X-Flatpak-Part-Of=com.brave.Browser
TryExec=/var/lib/flatpak/exports/bin/com.brave.Browser
