
# AS PER https://github.com/bk138/gromit-mpx/blob/master/data/gromit-mpx.cfg

# Default gromit-mpx configuration 
# taken from  Totem's telestrator mode config
# added default entries

# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
# HOTKEY = "F9";
HOTKEY = "F9";
UNDOKEY = "F8";

"red Pen" = PEN (size=5 color="red");
"blue Pen" = "red Pen" (color="blue");
"yellow Pen" = "red Pen" (color="yellow");
"green Marker" = PEN (size=6 color="green" arrowsize=3);
"blue Pen" = "blue Arrow" (color="blue", arrowsize=2);
"red Rectangle" = RECT (color = "red");
"Eraser" = ERASER (size = 75);
"smoothed red line" = SMOOTH (color = "green" simplify=30 snap=10);

# "default" = "red Pen";
"default" = "smoothed red line";
# "default"[SHIFT] = "blue Pen";
"default"[SHIFT] = "red Rectangle";
"default"[CONTROL] = "blue Pen";

"default"[2] = "green Marker";
"default"[Button3] = "red Rectangle";
# "default"[Button4] = "Eraser";

"ELAN Touchscreen Pen (14)" = "red Pen";
# "SYNA801A:00" = "red Pen";

